/* Corps général */

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.TitrePage{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
  color: #003049;
  font-family: 'Open Sans', sans-serif;
}

.sousTitrePage{
  font-size: 20px;
  color: #003049;
  font-family: 'Open Sans', sans-serif;
}

/* ------------------------------ */
/*         Page Connexion         */
/* ------------------------------ */

.connexion{
  display: flex;
  justify-content: center;
}

#msform {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: relative;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 125px;
  background: #003049;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #003049;
}

/* ------------------------------ */

/* ------------------------------ */
/*             Menu               */
/* ------------------------------ */

a {
  text-decoration: none;
  color: #fff;
}
#header {
  background: #003049;
  width: 100%;
  position: relative;
}
#header:after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  padding: 26px 0 26px;
}
.titreLogo {
    color: white;
    cursor: default;
    font-size: 20px;
    display: block;
    padding: 0 0 0 20px;
}
nav {
  float: right;
}
nav > ul {
  float: left;
  position: relative;
}
nav li {
  list-style: none;
  float: left;
}
nav .dropdown {
  position: relative;
}
nav li a {
  float: left;
  padding: 20px;
}
nav li a:hover {
  background: #2c3e50;
}
nav li ul {
  display: none;
}
nav li:hover ul {
  display: inline;
}
nav li li {
  float: none;
}
nav .dropdown ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  padding: 10px 0;
  border-bottom: 3px solid #34495e;
}
nav .dropdown li {
  white-space: nowrap;
}
nav .dropdown li a {
  padding: 10px 15px;
  font-size: 13px;
  width: 150px;
}
nav li li a {
  float: none;
  color: #333;
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
}
nav li li a:hover {
  background: #669BBC;
  color: white;
}


/* ------------------------------ */

/* ------------------------------ */
/*     Page Formulaire joueur     */
/* ------------------------------ */

.pageSaisie{
  display: flex;
  justify-content: center;
}

.form {
  background-color: #003049;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  width: 450px;
  height: 100%;
}

.title {
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 10px;
}

.subtitle {
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.input-container {
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  height: 35px;
  position: relative;
  width: 100%;
}

.input {
  background-color: #669BBC;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input::placeholder{
  color: #e9ecef;
}

.sousTitre{
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.DeuxClasses{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}


/* ------------------------------ */

/* ---------  Image   ----------- */

.Image {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color : white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0%;
}

.button-wrap {
  position: relative;
}

.buttonImage {
  display: inline-block;
  padding: 12px 35px;
  border: solid;
  border-color: #003049;
  cursor: pointer;
  border-radius: 10px;
  background-color: #669BBC;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #fff;
}

.buttonImage:hover{
  background-color: #003049;
  border: solid;
}

/* ------------------------------ */

/* Choix du poste préféré*/

.ChoixPoste{
  display: flex;
  justify-content: space-around;
}

.DeuxPostes{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PostePref{
  color: white;
  font-family: 'Open Sans', sans-serif;
  top: 7px;
  box-sizing: border-box;  
  padding: 5px;
  margin-top: 20px;
  border-color: #669BBC;
  border-radius: 10px;
  border-style: solid;
}

.radio{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  box-shadow: 0px 0px 5px #AAC5C6;
  border: 0.5vw solid #344056;
  background-color: #344056;
  transition: 0.2s all linear;
  margin-right: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.radio:checked{
  border: 0.15vw solid rgba(2, 228, 231, 0.8);
  background-color: rgba(2, 228, 231, 0.8);
}

/* ------------------------------ */

/* Textarea pour mettre des notes */

.Notes textarea{
  font-family: 'Open Sans', sans-serif;
  color: white;
  border: none;
  background-color: #669BBC;
  width: 100%;
  height: 30px;
  resize: none;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 10px;
  height: 50px;
}

textarea::placeholder{
  color: white;
  padding: 5px 10px;
}

textarea:{
  color: white;
  padding: 5px 10px;
}

textarea::-webkit-scrollbar{
  width: 0px;
}

/* ------------------------------ */

/* btn Inscrire */

.Inscrire{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  width: 100%;
}

.btnInscrire {
  background-color: #669BBC;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  min-height: 50px;
  outline: none;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
}

.btnInscrire:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
  transform: translateY(-2px);
}


/* ------------------------------ */

/* Vider les saisis */

.reinitialiser {
  text-align: right;
}

.reinitialiser .vider {
  background: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: #bababa;
  cursor: pointer;
}

.vider:hover {
  color: white;
}

/* ------------------------------ */

/* Bouton rechercher */

.stylebouton {
  background: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: #bababa;
  cursor: pointer;
}

.stylebouton:hover {
  color: white;
}

/* ------------------------------ */
/*     Page affichage joueur      */
/* ------------------------------ */

.pageAffichage{
  display: flex;
  justify-content: center;
}

.statut{
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

/* ------------------------------ */
/*     Page Formulaire match      */
/* ------------------------------ */

.pageMatch{
  display: flex;
  justify-content: center;
}

.DateHeure{
  display: flex;
  justify-content: space-between;
}

.OuiNon{
  display: flex;
  justify-content: space-around;
}

.selectdiv {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.selectdiv:after {
  content: '<>';
  font: 16px "Consolas", monospace;
  color: #eee;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 10px;
  border-bottom: 1px solid white;
  position: absolute;
}

.selectdiv select {
  appearance: none;
  display: flex;
  width: 410px;
  height: 40px;
  padding: 0px 24px;
  font-size: 18px;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  background-color: #669BBC;
  border: none;
  border-radius: 12px;
}

/* ------------------------------ */
/*     Page joueur enregistré     */
/* ------------------------------ */

.Enregistrement{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TitreEnregistre{
  font-size: 40px;
  font-weight: 550;
  color: #003049;
  font-family: 'Open Sans', sans-serif;
}

.styleboutonRetour{
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #003049;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}

.styleboutonRetour:hover{
  color: #bababa;
}

/* ------------------------------ */
/*    Page modification joueur    */
/* ------------------------------ */

.pageModif{
    display: flex;
    justify-content: center;
}

/* ------------------------------ */

/* ------------------------------ */
/*    Page consulation joueurs    */
/* ------------------------------ */

.PageListeJoueur{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Filtre{
  display: flex;
  width: 100%;
}

.btnFiltrer{
  width: 50px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: #669BBC;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #eee;
  cursor: pointer;
}

.styleboutonAjoutJoueur {
  margin-top: 20px;
  background-color: #669BBC;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 250px;
  will-change: transform;
}

.styleboutonAjoutJoueur:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
  transform: translateY(-2px);
}

.ajoutJoueur{
  text-decoration: none;
  color: white;
}

.lien{
  text-decoration: none;
  color: black;
}

.lien:nth-child(even){
  color: white;
}

/* ------------------------------ */

/* ------------------------------ */
/*    Page consulation matchs    */
/* ------------------------------ */

.PageListeMatch{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------ */

/* ------------------------------ */
/*     Page feuille de matchs     */
/* ------------------------------ */

.PageFeuilleMatch{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choixjoueur{
    cursor: pointer;
}

/* --------- Filtre ----------- */

.divMatchSelect{
    display: flex;
    max-width: 600px;
    flex-direction: column;
}

.MatchSelect{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}

.nomMatchSelect{
    margin-left: 15px;
}

/* ----- Bouton ajouter ------ */

.btnAjoutFeuilleMatch{
    display: flex;
    justify-content: center;
}

/* ------------------------------ */
/* Modification feuille de matchs */
/* ------------------------------ */


/* --------- Mise en page ----------- */

.pageFeuilleMatch{
}

.pageFeuilleListe{
    display: flex;
    width: 100%;
    justify-content: space-around;
}


/* --------- Liste ----------- */

.ListeEtTitre{
    display: box;
    flex-direction: column;
    margin-right: 20px;
    min-width: 300px;
}

.ullisteNomsJoueur{
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

.lilisteNomsJoueur{
  position:relative;
  padding:10px 0;
  cursor: default;
  margin-left: 15px;
}

.lilisteNomsJoueur:before {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 12px;
  height: 12px;
  content:'';
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUwIDUwIiBoZWlnaHQ9IjUwcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MCA1MCIgd2lkdGg9IjUwcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxyZWN0IGZpbGw9Im5vbmUiIGhlaWdodD0iNTAiIHdpZHRoPSI1MCIvPjxwb2x5Z29uIHBvaW50cz0iMTUsMi43NSAxMi45MTQsNC44MzYgMzMuMDc4LDI1IDEyLjkxNCw0NS4xNjQgMTUsNDcuMjUgMzcuMjUsMjUgIi8+PC9zdmc+");
  background-position: center;
  background-size:cover;
  transform: translateY(-50%);
}

.color-sample {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #900;
}

/* ------ tableau joueurs ------- */

.TableauEtTitre{
    margin-left: 100px;
}

.tableauFeuille{
    display: flex;
    justify-content: center;
}

.tableFeuilleMatch th{
    padding: 12px 12px;
    min-width: 120px;
    text-align: center;
    
}


/* ------------------------------ */
/*    Page evaluation resultat    */
/* ------------------------------ */

.pageEvalResultat{
    margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RetourPage{
  background: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: #bababa;
  cursor: pointer;
}

.RetourPage::hover{
    color: black;
}

/* ------------------------------ */
/*        Page Statistiques       */
/* ------------------------------ */

.pageStat{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.misePageStat{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* -------- camembert --------- */

.Diagramme{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Legende{
    display:flex;
    flex-direction: column;
    margin-left: 25px;
    list-style: none;
}

.couleurLegende1:before{
    position: absolute;
    margin-left: -45px;
    width: 40px;
    height: 20px;
    content:'';
    background-color: #669BBC;
    border: 1px solid black;
}

.couleurLegende2:before{
    position: absolute;
    margin-left: -45px;
    width: 40px;
    height: 20px;
    content:'';
    background-color: #C1121F;
    border: 1px solid black;
}

.couleurLegende3:before{
    position: absolute;
    margin-left: -45px;
    width: 40px;
    height: 20px;
    content:'';
    background-color: #FDF0D5;
    border: 1px solid black;
}

/* ----- Tableaux joueurs ------- */

.filtreStat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.inputFiltreStat{
  background-color: #669BBC;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px 0;
  height: 40px;
}

.inputFiltreStat::placeholder{
    color: white;
}

.btnFiltrerStat{
  background-color: #669BBC;
  border-radius: 12px;
  border: 0;
  color: #eee;
  font-size: 18px;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
}

.annulerFiltre{
    color: black;
    text-decoration: none
}

.TableauStatistiques{
    display: flex;
    flex-direction: column;
}






/* --------- Tableaux ----------- */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    content:'';
    background-color: #003049;
    color: white;
    text-align: left;
}

td, th {
    padding: 12px 12px;
    min-width: 80px;
    text-align: left;
}

tr td a{
    color: black;
}

tbody tr {
    border-bottom: 1.5px solid #dddddd;
}

tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

tbody tr:last-of-type{
    border-bottom: 2px solid #003049;
}

tbody tr:nth-child(even) {
  color: #669BBC;
}

/* ------------------------------ */
